* {
    margin: 1px;
    /* Change your font family */
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    border-color: #212529;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 40px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.table {
    text-align: center;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    color: #212529;
}

/*.hscroll {
  overflow-x: auto; Horizontal */

.trans{
  width: 400px;
  background-color: red;
  display: flex;
  justify-content: center;
}
