/********** Template CSS **********/
:root {
    --primary: #199319;
    --light: #FFF5F3;
    --dark: #103741;

}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/**/
col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}
/*Seccion1*/
.education_section.education2 .education_text {
    border: 1px solid #00b4ff;
    border-top: 0;
    
}
.px_toppadder80 {
    padding-top: 50px;
}
.px_bottompadder30 {
    padding-bottom: 120px;
    background-repeat: no-repeat !important;
}
.px_heading h1 span {
    color: #00b4ff;
}

.px_wedo {
    background: linear-gradient(rgb(0 180 255 / 91%) , rgb(0 180 255 / 95%)) , url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg" ) fixed;
    background: -webkit-linear-gradient(rgb(0 180 255 / 91%) , rgba(0 180 255 / 95%)) , url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg" ) fixed;
    background: -o-linear-gradient(rgb(0 180 255 / 91%) , rgba(0 180 255 / 95%)) ,url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg" ) fixed;
    background: -moz-linear-gradient(rgb(0 180 255 / 91%) , rgba(0 180 255 / 95%)) , url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg" ) fixed;
    background: -ms-linear-gradient(rgb(0 180 255 / 91%) , rgba(0 180 255 / 95%)) , url(https://img.freepik.com/vector-gratis/doodles-ninos_1108-181.jpg ) fixed;
    background: -webkit-linear-gradient(rgb(0 180 255 / 91%) , rgb(0 0 0 / 95%)) , url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg" ) fixed;
    background-size: cover;
    background-position: bottom;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg" ) !important;
    background-repeat: no-repeat !important;
}
.px_wedo.px_bottompadder30{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg" ) !important;
    background-repeat: no-repeat !important;
}
/**/
.px_wedo.px_toppadder80.px_bottompadder30{
    height: 500px;
}
.h1Seccion{
    margin: 50px;
    color: black;
    font-size: 40px;
}
.breadcrumb-item{
    -webkit-text-fill-color: #cfc8c8;
    size: 20px;
    font-style: italic;
    font-family: fantasy;
    background-color: #1b2c29;
}

/*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-grow-skew {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }
  /*Button offset*/
  .offset {
    --color: #19bc8b;
    --hover: #1973bc;
  }
/*..*/


/*...*/
.table{
    text-align: center;
    color: #000000;
    background-color: white;
}
/*boton*/
.btn-contact {
    background-color: #199319;
    color: white;
    margin-left: 25px;
    text-decoration: none;
    padding: 18px 31px;
    border-radius: 8%;

  }
  
  .btn-contact:hover {
top: 0px;
left: 0px;
width: 0px;
height: 42px;
background: rgba(59, 162, 231, 0.87);
border-radius: 5px;
transition: all 1s ease;
color: rgb(14, 13, 13) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
  }
  
/**/
.hero{
    
    background-image: url("https://img.freepik.com/vector-premium/pincel-acuarela-azul-marino-sobre-papel-blanco-textura-fondo_70155-683.jpg?w=2000");
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .8;
   
}
.heroP{
    color: #000000;
    font-style: italic;
    background-color: white;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h1mb-3{
    background: white;
}
/**/
/*Texto*/
.text {
	width: 150px;
	height: auto;
	background-color: white;
	padding: 10px;
	color: #212136;
	position: absolute;
	z-index: 1;
}

.background {
	width: 200px;
	height: 100px;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0px 0px 10px 0px;
}

.trans {
	opacity: 0.5;
}
/**/
.raise {
    background: #fff;
    color: #000000;
    border: 2px solid #13a17d;
    padding: 0px 16px;
    border-radius: 17px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}
  .btn-ov2:hover {
    color: #fff;/* color de fuente hover */
  }
  .raise::after {
    content: "";
    background: #2699a110; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .raise:hover,
.raise:focus {
  box-shadow: inset 15.5em 0 0 0 var(--hover);
}
  .raise:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }
  /*Button offset*/
  .offset {
    --color: #19bc8b;
    --hover: #1973bc;
  }
/**/
  .arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  .prev {
    left: 7px;
  }
  
  .next {
    right: 7px;
  }
  
  .gallery {
    width: 390px;
    overflow: hidden;
  }
  
  .gallery ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* eliminando los espacios en blanco entre los li inline-block'ed */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }

.education2 .education_img .px_overlay {
    background: linear-gradient(rgba(0,0,0,0) , rgba(28,180,240,0.9));
    background: -webkit-linear-gradient(rgba(0,0,0,0) , rgba(28,180,240,0.9));
    background: -moz-linear-gradient(rgba(0,0,0,0) , rgba(28,180,240,0.9));
    background: -o-linear-gradient(rgba(0,0,0,0) , rgba(28,180,240,0.9));
    background: -ms-linear-gradient(rgba(0,0,0,0) , rgba(28,180,240,0.9));
    height: 100%;
    opacity: 1;
    top: 0;
}

.education_img.edu_img2 {
    border: 5px solid transparent;
    border-image-source: url(../images/Eclips/circle-border-blue.png);
    border-image-repeat: round;
    border-image-slice: 5;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;
    width: 250px;margin:0px auto
}
.img-responsive{
    width: 250px;margin:0px auto
}
.education_section.education2 .education_text {
    border: 1px solid #00b4ff;
    border-top: 0;
    width: 250px;
    margin:0px auto
}
.education_section.education2 .education_text {
    border: 1px solid #00b4ff;
    border-top: 0;
}
.px_toppadder80 {
    padding-top: 3px;
}
.px_bottompadder30 {
    padding-bottom: 30px;
    background-image: url(https://i.pinimg.com/564x/12/5f/d2/125fd20….jpg);
}
       
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
    font-weight: 600;
}

.font-secondary {
    font-family: 'Lobster Two', cursive;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
    padding: 30px 15px;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: calc(100% - 15px);
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    /*Fcilities*/
    .col-lg-3 {
        /* flex: 0 0 auto; */
        width: 20%;
    }

    .bg-secondary {
        background-color: #741b6c !important;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .btn-secondary {
        color: #fff;
        background-color: #471374;
        border-color: #471374;
    }


}

/** CAROUSEL*/
.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}

.card .img-wrapper {
    max-width: 80%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    color: #fff;
    background-color: #471374;
    border-color: #471374;
}

.bg-secondary {
    background-color: #741b6c !important;
}

.card img {
    max-height: 100%;
}

@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }

    .btn-secondary {
        color: #fff;
        background-color: #471374;
        border-color: #471374;
    }

    .bg-secondary {
        background-color: #741b6c !important;
    }
}

/*FIN*/

/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: url(../img/bg-header-top.png) center center repeat-x;
    z-index: 1;
}

.header-carousel::after,
.page-header::after {
    height: 19px;
    top: auto;
    bottom: 0;
    background: url(../img/bg-header-bottom.png) center center repeat-x;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 400px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Facility ***/
.facility-item .facility-icon {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-item .facility-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    border-radius:100%;
    z-index: 1;
}

.facility-item .facility-icon span {
    position: absolute;
    content: "";
    width: 15px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
    left: auto;
    right: 0;
}

.facility-item .facility-icon i {
    position: relative;
    z-index: 2;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.facility-item .facility-text {
    position: relative;
    min-height: 190px;
    padding: 22px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.facility-item .facility-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    border-radius: 50%;
    z-index: 1;
}

.facility-item .facility-text * {
    position: relative;
    z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
    background: transparent;
}

.facility-item * {
    transition: .5s;
}

.facility-item:hover * {
    color: #FFFFFF !important;
}


/*** About ***/
.about-img img {
    transition: .5s;
}

.about-img img:hover {
    background: var(--primary) !important;
}


/*** Classes ***/
.classes-item {
    transition: .5s;
}

.classes-item:hover {
    margin-top: -10px;
}


/*** Team ***/
.team-item .team-text {
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #b9c9cd1c;
    border: 5px solid #ededed;
    border-radius: 250px;
    transition: .5s;
}

.team-item:hover .team-text {
    border-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    border-color: var(--primary);
    background: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary) !important;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

